body {
    background-color: #EEEEEE;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#title {
    font-weight: bold;
    color: #000000;
    font-size: 70px;
    margin-top: 100px;
    margin-bottom: 32px;
}


h1 {
    font-size: 60px;
    color: #000000;
    text-align: center;
}

p {
    font-size: 18px;
    color: #FFFFFF;
}


/* following code blatantly stolen from my previous project */

.link-text {
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

.link-text:hover {
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    color: #610094;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

.ball-container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball {
    width: 150%;
    padding-top: 30%;
    background-color: #CF0A0A;
    border-radius: 50%;
    position: relative;
    z-index: -1;
}

.box-container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200%;
    padding-top: 100%;
    background-color: #CF0A0A;
    border-radius: 50%;
    position: relative;
    z-index: -1;
}


