body {
    background-color: #150050;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.funny-box {
    width: 100000px;
    height: 100px;
    background-color: #3F0071;
    position: absolute;
    top: 0;
}

h1 {
    color: #FFFFFF;
}

p {
    font-size: 18px;
    color: #FFFFFF;
}



/* following code blatantly stolen from my previous project */

.link-text {
    font-weight: bold;
    text-align: center;
    font-size: 43px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

.link-text:hover {
    font-weight: bold;
    text-align: center;
    font-size: 43px;
    color: #610094;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

.sourcecode-text {
    font-weight: bold;
    text-align: center;
    font-size: 43px;
    color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.sourcecode-text:hover {
    font-weight: bold;
    text-align: center;
    font-size: 43px;
    color: #610094;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    bottom: 0;
}
