body {
    background-color: #EEEEEE;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#text-area {
  width: 500px;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

#text-input {
  font-size: 25px;
  border: 1px solid #ccc;
  
}

h1 {
    font-weight: bold;
    font-size: 45px;
    color: #000000;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: #000000;
    text-align: center;
}

p {
    font-size: 18px;
    color: #FFFFFF;
}

#toptext1{
    font-size: 40px;
    left: 500px;
    top: 0px;
  }

#toptext1{
font-size: 40px;
right: 500px;
top: 0px;
}


/* following code blatantly stolen from my previous project */

.link-text {
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

.link-text:hover {
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    color: #610094;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

.smol-link-text {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

.smol-link-text:hover {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: #610094;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

.ball-container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball {
    width: 150%;
    height: 25%;
    padding-top: 30%;
    background-color: #CF0A0A;
    border-radius: 50%;
    border: 10px solid black;
    position: relative;
    z-index: -1;
}

#subject-names {
  font-size: 26px;
}




